<div [class.loader]="loading"></div>

<div class="login-wrapper">
    <mat-card class="login">
        <div class="heading">
            Sign-Up
        </div>
        <div *ngIf="error" class="login-error">{{errorMessage}}</div>

        <form [formGroup]="signupForm" (ngSubmit)="login(signupForm.value)" ngNativeValidate>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input name="name" type="text" matInput formControlName="name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input name="email" type="email" matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button class="password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="btn">
                <button mat-raised-button type="submit" class="btn_primary">Sign-Up</button>
            </div>
        </form>

        <div class="footer">
           Already registered? please <a [routerLink]="['LOGIN'|absolutePath]" class="link">Login</a>
        </div>
    </mat-card>
</div>